
.root {
  position: relative;
  height: 100%;
  text-align: center;
  color: #666;
  .icon {
    width: 44px;
    height: 44px;
  }

  .item {
    width: 100%;
    height: 200px;
    background-color: paleturquoise;
    margin-bottom: 20px;
  }
}
